<div class="banner">
  <div class="container">
    <div class="banner-bottom">
      <div class="banner-bottom-left">
        <h2>FANCY<br>NAILS<br>BOYNTON</h2>
      </div>
      <div class="banner-bottom-right">
        <div  class="callbacks_container">
          <ul class="rslides" id="slider4">
            <li>
              <div class="banner-info">
                <h3>Manicure</h3>
                <p>Let us buff and polish your nails to perfection! We offer gel polish, choose from a wide selection of colours from OPI, Gelish</p>
              </div>
            </li>
            <li>
              <div class="banner-info">
                <h3>Foot&Body Massage</h3>
                <p>We now offer reflexology foot and body massage.</p>
              </div>
            </li>
            <li>
              <div class="banner-info">
                <h3>Pedicures</h3>
                <p>A treat for the feet! All natural callus remover and organic heel balm gently smooth and seal skin, and toes are topped off with your choice of organic or traditional polish.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="shop">
      <a href="single.html">More Services</a>
    </div>
  </div>
</div>
