<div class="header-middle"><!--header-middle-->
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <div class="logo pull-left">
              Fancy NAILS
            </div>
            <div class="btn-group pull-right">
              <div class="btn-group">
                Sunshine Square Plaza 510 E. Woolbright Road Boynton Beach, FL 33435
              </div>
              <div class="btn-group">
                <p>
                  Hours: <br>
                  &emsp;Monday-Friday: 8:30AM-7:00PM <br>
                  &emsp;Saturday: 8:30AM-5:00PM <br>
                  &emsp;Sunday: Closed
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="shop-menu pull-right">
              <ul class="nav navbar-nav">
                <p class="slogan"><%= slogan.description.gsub(/\r\n/, "<br>").html_safe if slogan.present? %></p>
                <!-- <li><a href="#"><i class="fa fa-user"></i> Account</a></li> -->
                <!-- <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li> -->
                <!-- <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li> -->
                <!-- <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li> -->
                <!-- <li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/header-middle-->
