<div class="header-middle bg-header-middle"><!--header-middle-->
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <div class="logo pull-left">
              <%= link_to image_tag("logo.png", size: "140x80"), root_path %>
            </div>
            <div class="btn-group pull-right">
              <div class="btn-group">
                <%= simple_format(information&.address) %>
              </div>
              <div class="btn-group wrap-address">
                <div>Hours:</div>
                <div class="wrap-information"><%= simple_format(information&.information_time) %></div>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="shop-menu pull-right">
              <ul class="nav navbar-nav">
                <p class="slogan"><%= slogan.description.gsub(/\r\n/, "<br>").html_safe if slogan.present? %></p>
                <!-- <li><a href="#"><i class="fa fa-user"></i> Account</a></li> -->
                <!-- <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li> -->
                <!-- <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li> -->
                <!-- <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li> -->
                <!-- <li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/header-middle-->
