.title-color {
  font-weight: bold !important;
}
.space-group {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid currentColor
}
.txt-center {
  text-align: center;
}
.special {
  font-weight: bold;
}
.decorate-event {
  font-weight: bold;
  font-size: 24px;
}
.slogan {
  font-weight: bold;
  font-family: nimbus-sans-tw01con,sans-serif;
  color: #F73176;
}
.brochure {
  width: 100%;
}
.bg-header-middle {
  background-color: lightgreen;
}
