<header id="header"><!--header-->
  <%= render partial: "layouts/shared/header_top" %>
  <%= render partial: "layouts/shared/header_middle", locals: {slogan: @slogan} %>
  <%= render partial: "layouts/shared/header_bottom" %>
</header>
<section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="blog-post-area">
            <h2 class="title text-center">About Us</h2>
            <div class="single-blog-post">
              <h4>Welcome to Fancy Nails Salon in Boynton.</h4>
              <br>
              <p>
                <div class="special">10% discount for students under 10, and citizen 75+ </div><br>
                “At Fancy Nails Boynton, we are committed to maintaining the highest level of hygiene with Medical
                Autoclave Sterilizer for your safety. All technicians unseal the individual sterilized pouch, and disposable
                file and buffer on each of our clients. We provide a relaxed and clean environment for our customers.
                Decorated with comfortable furniture, romantic and relaxing colors, soothing music, and
                accommodating appointment times, Fancy Nails Boynton is here for you”. <br> <br>
                Come in and make your nails great again.</p>
            </div>
          </div><!--/blog-post-area-->
        </div>
      </div>
    </div>
  </section>
