<!-- Header -->
<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Fancy nails</h1>
    <h3>Website coming soon</h3>
  </div>
</header>

<section id="contact" class="map">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
  <br />
  <small>
    <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
  </small>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>Fancy nails</strong>
        </h4>
        <p>3481 Melrose Place
          <br>Beverly Hills, CA 90210</p>
          <ul class="list-unstyled">
            <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
            <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">name@example.com</a></li>
          </ul>
          <br>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a></li>
          </ul>
          <hr class="small">
          <p class="text-muted">Copyright &copy; Your Website 2014</p>
      </div>
    </div>
  </div>
  <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>
