<header id="header"><!--header-->
  <%= render partial: "layouts/shared/header_top" %>
  <%= render partial: "layouts/shared/header_middle", locals: {slogan: @slogan} %>
  <%= render partial: "layouts/shared/header_bottom" %>
</header>
<section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="blog-post-area">
            <h2 class="title text-center">Policies and Procedures</h2>
            <div class="single-blog-post">
              <h4>Sanitation</h4>
              <br>
              <p>
                Proper sanitation is the utmost importance here at Fancy Nails Boynton. All metal implements are
                sterilized in a hospital grade AUTOCLAVE for a minimum 20 min. and then sealed in a pouch until next
                use. You may choose to take the hand file, buffer, and orangewood stick home or you may also choose
                to purchase your own personal metal implements here at Fancy Nails Boynton.</p> <br>
              <h4>Appointments</h4><br>
              <p>
                Please arrive 15 minutes prior to your appointment. This will ensure that you have the full time for your
                scheduled treatment. Please keep in mind that if you should arrive late, we will need to complete the
                service at the originally scheduled time and price in consideration of our next guest. If you should have
                to cancel your appointment, we require 24 hours’ notification.</p> <br>
              <h4>Gratuities</h4><br>
              <p>
                Gratuities are customary and appreciated, but left to the discretion of the client. <br>
                We suggest that you leave your valuables (i.e. jewelry) at home. Prestigious Nails cannot be responsible
                for lost or stolen personal items or valuables.</p> <br>
              <h4>Etiquette</h4> <br>
              <p>
                Out of consideration for other clients and a total relaxation, please mute all pagers/cell phones and keep
                all phone calls to a minimum.
              </p><br>
              <h4>Gift Cards and Polices</h4> <br>
              <p>Please treat our gift card as you would cash. If lost or stolen, or used without permission, the card
                cannot be replaced or the value replenished. Gift card represents prepayment for goods and services. <br>
                Gift cards have no cash value and are not redeemable for cash. <br>
                Prestigious Nails reserves the right to refuse service or reverse any gift card purchase for any reason and
                return the funds to the purchaser.
              </p><br>
              <h4>Child Policy</h4> <br>
              <p>
                Our services are reserved for you and other clients for a total relaxation. For this reason and for
                insurance liability, no small children please unless being serviced.
              </p><br>
              <h4>Return Policy</h4><br>
              <p>Unused boutique items may be returned with a receipt within 7 days of purchase for exchange or spa
                credit. All sale items are final and non-returnable.</p>
            </div>
          </div><!--/blog-post-area-->
        </div>
      </div>
    </div>
  </section>
